cat > .env.example << EOL
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000/api
NEXT_PUBLIC_CONTRACT_ADDRESS=""
NEXT_PUBLIC_ELECTRONEUM_CHAIN_ID=5201420
NEXT_PUBLIC_ETN_TESTNET_URL=https://rpc.ankr.com/electroneum_testnet
NEXT_PUBLIC_ENV=testnet
EOL