PRIVATE_KEY=your_wallet_private_key
ETN_TESTNET_URL=https://rpc.ankr.com/electroneum_testnet
ETN_MAINNET_URL=https://rpc.ankr.com/electroneum
ETN_EXPLORER_API_KEY=your_explorer_api_key
ENVIRONMENT=testnet